<h3>About</h3>
<p>
  We know language learning is hard.  Because of the time and effort it
  takes to learn a language well, all too many students give up before reaching
  their goal. Here at Vernaculasaurus, what we hate most is seeing someone's language
  dream go extinct. So, we created a website to help.
</p>
<p>
  Everyday we will post a new topic, and you're invited to respond with as much or as little
  as you want. Other members will be able to edit submissions when they notice parts
  of the writing that could be grammatically or technically improved.
  However, you're never limited to that topic. You can post under any category,
  any day.
</p>
<p>
  We end our daily topics with "Get chomping!" as encouragement to
  boldy bite into the challenge. Just like your body needs daily food,
  your mind needs daily language reinforcement. Dinosaurs
  don't go daintily picking at their food. They jump right in and CHOMP!
</p>
