<h1>Welcome to Chat Post</h1>

<%= link_to 'New Post', new_post_path%>
<% @posts.each do |post|%>
  <h2><%=post.title%></h2>
  <p>Published: <%=post.created_at.strftime('%b. %d, %Y')%></p>
  <p><%=truncate(post.content, length: 200)%></p>
<%end%>
