<h3>Post Archive</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Snipit</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post|%>
      <tr>
        <td><%=link_to post.title, post%></td>
        <td><%=link_to post.category.name, post.category%></td>
        <td><%= truncate(post.content, length: 100)%></td>
        <td><%=post.created_at.strftime('%x')%></td>
      </tr>
    <%end%>
  </tbody>
</table>
</div>
